body{
    background-image: url("../icon/bg.jpg");
    background-repeat: no-repeat;
    background-size:100%;
}
iframe{
    background-image: url("../icon/bg.jpg");
    background-repeat: no-repeat;
    background-size:100%;
}