{% extends 'base.html' %}
{% block title %}
	测试中心 - 日报
{% endblock %}

{% block content %}
	<link rel="stylesheet" href="{{ url_for('static',filename='daily/daily.css') }}"/>
	<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<div id="Container">
		<div id="Header">
			<div id="logo"></div>
		</div>
		<div id="Content">
			<div id="Content-Left">
				<a style="margin: 20px 0 0 20px" href="/testhome/addDaily">填写日报管理</a></br>
				<a style="margin: 20px 0 0 20px" href="/testhome/showDaily">查看日报管理</a>
			</div>
			<div id="Content-Main">
				<table id="tableId" class="table" style="text-align: center;">
					<tr>
						<td>日期</td>
						<td>名称</td>
						<td>内容</td>
						<td>审核状态</td>
						<td>员工姓名</td>
						<td>操作</td>
					</tr>
					{% for d in infos %}
						<tr>
							<td><input type="hidden" id="num" value="{{ d.id }}"></td>
						</tr>
						<tr class="success">
							<td>{{ d.newtime }}</td>
							<td>{{ d.dailyName }}</td>
							<td>{{ d.dailyCont }}</td>
							<td>{{ d.type }}</td>
							<td>{{ d.username }}</td>
							<td><a href="/testhome/updateDaily/{{ d.id }}">修改 </a><a
									href="/testhome/delDaily/{{ d.id }}"> 删除</a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
		<div class="Clear"></div>
	</div>
{% endblock %}