{% extends 'base.html' %}
{% block title %}
	测试中心 - 日报
{% endblock %}

{% block content %}
	<link rel="stylesheet" href="{{ url_for('static',filename='daily/daily.css') }}"/>
	<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<div id="Container">
		<div id="Header">
			<div id="logo"></div>
		</div>
		<div id="Content">
			<div id="Content-Left">
				<a style="margin: 20px 0 0 20px" href="/testhome/addDaily">填写日报管理</a></br>
				<a style="margin: 20px 0 0 20px" href="/testhome/showDaily">查看日报管理</a>
			</div>
			<div id="Content-Main" style="text-align: center;">
				<form action="/testhome/update_daily" method="post">
					<h3>更新日报</h3>
					<input name="id" type="hidden" value="{{ info.id }}"></br></br>
					日报名称：<input name="dailyName" type="type" value="{{ info.dailyName }}"></br></br>
					<textarea id="dailycont" name="dailyCont" rows="10" cols="80">{{ info.dailyCont }}</textarea></br></br>
					<input type="submit" class="btn btn-success" value="提交">
				</form>
			</div>
		</div>
		<div class="Clear"></div>
	</div>

{% endblock %}